form {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    font-family: sans-serif, Arial;
    gap: 20px;
}

label {
    display: block;

}

fieldset {
    width: 100%;
    max-width: 300px;
    padding: 10px;
    border: 3px solid hsl(100,80%,90%);
    border-radius: 10px;
    background-color: hsl(100,80%,95%);

}

button {
    border: none;
    width: 100%;
    max-width: 100px;
    padding: 10px;
    font-size: 15px;
    margin-top:10px;
    background-color: hsl(100,80%,30%);
    border-radius: 10px;
    color:white;
}

button:hover {
    cursor: pointer;
    background-color: hsl(100,80%,20%);

}

legend {
    font-weight: bold;
}

.container {
    padding:20px;
}

textarea {
    width: 100%;
    max-width: 270px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid hsl(100,80%,40%);
    border-radius: 10px;
    padding: 10px;
}

textarea::placeholder {
    font-family: sans-serif, Arial;
}

input[type="checkbox"] {
    cursor: pointer;
}

input[type="text"],
input[type="number"] {
    border: 1px solid hsl(100,80%,40%);
    border-radius: 10px;
}

label {
    display: flex;
    gap: 10px;
}